.create-todo-form {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.create-todo-form form {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;

    & label {
        font-size: 12px;
        margin-bottom: 8px;
    }

    & .todo-input {
        outline: none;
        background-color: transparent;
        border: solid 1px #4e4e4e;
        border-radius: 4px;
        padding: 6px 2px;
        margin-right: 6px;
        width: 64%;
        color: #cfcfcf;
    }

    & input {
        margin-bottom: 12px;
    }
}