.list-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 24px;

    & h2 {
        margin: 0;
        margin-bottom: 24px;
    }

    & h3 {
        margin: 0;
        font-weight: 200;
        margin-bottom: 24px;
        font-size: 16px;
    }

    & p {
        text-align: start;
        font-size: 12px;
        padding: 0;
        margin: 0;
        margin-bottom: 24px;
    }
}

h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}
