.todo-card {
    border: solid 1px #353535;
    border-radius: 8px;
    padding: 12px;
    margin: 12px 0;

    & p {
        font-size: 12px;
        margin: 12px 0;
    }

    & .task-status {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header button:hover {
    border: solid 1px #fff;
    color: #fff;
    background-color: #500202;
}

.task-status button:hover {
    border: solid 1px #fff;
    color: #fff;
    background-color: #480473;
}