.todo-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 36%;

    & ul {
        overflow: auto;
        list-style: none;
        width: 100%;
        min-width: 100%;
    }
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loading-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    transition: 2s;
    animation: rotate-icon 1s linear infinite;
}