@keyframes rotate-icon {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loading-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    transition: 2s;
    animation: rotate-icon 1s linear infinite;
}