.todo-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 280px;
}

.todo-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: transparent;
    border: solid 1px #353535;
    color: #cfcfcf;
    height: auto;
    border-radius: 4px;
    transition-duration: 200ms;
    width: 100%;
}

.todo-button button:hover {
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding: 8px 16px;
    background-color: transparent;
    border: solid 1px #353535;
    color: #cfcfcf;
    height: auto;
    border-radius: 4px;
    scale: 1.02;
    cursor: pointer;
}